*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0,0,3);
    color:white;

}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    height:80px;
    background-color: rgb(2, 2, 44);
   
}
nav ul{
    display:flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 1rem;
}
.left{
    font-size: 1.5rem;
}
li{
    margin-right: 3rem;
    margin-left: 3rem;
}
.firstSection{
    display:flex;
    justify-content: center;
    justify-content: space-around;
    margin:50px 0 70px 0;
}
.leftSection{
    font-size: 3rem;
    width:80%;
    margin-top:80px;
    margin-left: 40px;
}
.firstSection > div{
    width:32%;

}
.name{
    color:rgb(214, 45, 214);
}
.developerPng{
    width:80%;
    margin:10px 0px 1px 20px;
}
.webD{
    color:rgb(214, 45, 214);
}
nav ul li a{
    color:white;
    text-decoration: none;
}
nav ul li a:hover{
    color:rgb(131, 131, 196);
    font-size: 1rem;
}
.secondSection{
    max-width:50vw;
    margin-left: 130px;
    margin-bottom:400px;

}
main hr{
    background-color:rgb(101, 8, 101);
    height:1.5px;
    margin:120px 80px;
}
.line{
    background-color: white;
    width:80vw;
    height:1px;
    margin:70px 0;
    display:flex;
}
.line .verticle{
    height:150px;
    width:1px;
    background-color: white;
    margin:0 120px;
}
.imag{
    width: 25px;
    position:relative;
    right:10px;
    bottom:28px;
    margin:0 3px 6px 0;
}
.vertical-title{
    position:relative;
    top:125px;
    width:180px;

}
.vertical-text{
    position:relative;
    top:140px;
    width:160px;
    color:rgb(125 125 206);
}
.footer{
    background-color:rgb(6 6 50);;
    color:white;
    display:flex;
    
}
.footer-left{
    max-width:50vw;
    margin:20px 350px 130px 130px ;
    font-size: 28px;
   
}
.footer-flex{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.footer-right ul li a {
    list-style: none;
    text-decoration: none;
    color:white;
    
}
