*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0,0,3);
    color:white;

}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
nav ul{
    display:flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}